


.archive-container {
    grid-column: 1; 
    background: var(--article-bg-color); 
    padding: 1rem 2rem;
    margin: 2px 0;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    width: 100%; 
    max-width: 100%; 
    justify-self: start; 
    position: relative; 
    color: var(--text-color);
    
}

.archive-header {
    display: flex;
    max-width: 620px;
    min-height: 60px;
}

.year {
    font-size: 24px;
    font-weight: 400;

}

.day {
    font-size: 14px;


}

.archive-icon, .archive-date, .archive-title {
    min-width: 72px;
}

.archive-title {
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: left;
}

.archive-icon {
    min-width: 32px;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    margin: 0 1rem;
}

.archive-date {
    min-width: 72px;
    display: flex;

    justify-content: right;
    align-items: center; 
}

.archive-container a {
    display: flex;
    text-decoration: none;
    color:var(--text-color);
    min-height: 40px;
}

.archive-container a:hover {
    
    box-shadow: 4px 0 6px rgba(0,0,0,0.3);;
    transform: translateY(1px);
    transition: transform 0.3s ease;
}

/* a:link {
    background: transparent;
} */

/* --------------------------------------------------------------虚线圆圈实现*/
.icon-header::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 4px solid #1d82db;
    background-color: transparent;
    display: inline-block;
    z-index: 1;

}

.icon-body::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1d82db;
    display: inline-block;
    z-index: 1;

    
}

.archive-icon::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 0;

    /* 
      left: 50%; 
      transform: translateX(-50%); */
    left: 0;
    right: 0;
    margin: 0 auto;

    background-image: linear-gradient(to bottom, #1d82db 50%, transparent 50%);
    background-size: 1px 8px; 
    background-repeat: repeat-y;
       

}

.archive-header .archive-icon::after {
    top: calc(50% + 4px);
    
}

.pub-data:last-child .archive-icon::after {
    bottom: 50%; 
    top: 0;
}

